<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
	<welcome-file-list>
	        <welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>  
		<servlet-name>Login</servlet-name>  
		<servlet-class>Servlets</servlet-class>  
	</servlet>  
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login.java</url-pattern>
	</servlet-mapping>
	
	<servlet>  
		<servlet-name>StudentAccess</servlet-name>  
		<servlet-class>Servlets</servlet-class>  
	</servlet>  
	
	<servlet-mapping>
		<servlet-name>StudentAccess</servlet-name>
		<url-pattern>/StudentAccess.java</url-pattern>
	</servlet-mapping>
</web-app>